 /* NEWS */
 .news ul{
    margin: 50px 50px;
    display: flex;
    justify-content: space-between;
  }
  .news li{
    height: 80px;
    border-left: 1px solid #000;
    padding-left: 20px;
  }
  .flex_list{
    display: flex;
  }
  .news li:first-child{
    border-left: none;
  }
  .news ul .flex{
    margin-bottom: 20px;
    /* 垂直中央揃えにするには親要素にflex,align-items: center; */
    display: flex;
    align-items: center;
  
  }
  .tag{
    margin-left: 10px;
    padding: 3px 10px;
    background: #000;
    color: rgb(240, 237, 231);
    font-size: 0.8rem;
  }