/* デフォルト設定 */
html{
    font-size: 1rem;
}
body{
    color: #24292e;
}
a{
    text-decoration: none;
}
p{
    font-size: 1.0rem;
}
img{
    width: 100%;
}
li{
    list-style: none;
    font-size: 1.2rem;
}
/* ーーーーーーーーーーーー */
header{
    margin: 0 auto;
    width: 100%;
}

.wrapper{
    max-width: 1080px;
    text-align: center;
    margin: 0 auto;
}

.title{
    margin: 0 auto;
}
.title p{
    margin: 0 auto;
    max-width: 75%;
}
/* 横並びの親 */
.flex{
    display: flex;  /* 横並びにする*/ 
    justify-content: space-between; /* 等間隔で並べる */
    margin: 50px 0;
}
/* 横並びの子 画像重なりの親 */
.content{
    width: 49%; /* 一つあたりコンテンツの幅 */
    position: relative; /* 重ねる親に記載 */
    text-align: center; 
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}
.inner{
    width: 60%;
    position: absolute; /* 重ねる子に記載 */
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px; 
    margin: 0 auto; /* 中央揃え */
    color: #ddd5d5; /* 文字の色 */
    background-color: rgba(0, 0, 0, 0.5);
    /* 背景の色と不透明度　全体にopacityすると文字も透過してしまう */
}
.content img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: cover;
}
.catalog .flex{
    height: 100%;
    align-items: stretch;
    justify-content: center;
}
.text{
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}



.width{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.fashion .content{
    width: 100%;
    position: relative;
}

.fashion .title{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.read_more{
    border: solid 1px #24292e;
    padding: 10px;
    margin-top: 20px;
    display: inline-block;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    background: #394333;
    color: #fff;
}
.logo{
    margin: 0 auto;
    text-align: center;
    align-content: center;
    width: 33%;
}
.logo a img{
    width: 100px;
    
}
.list{
    margin: 0 auto;
    align-content: center;
    width: 33%;
}
.list ul li{
    list-style:circle
}
.right{
    margin: 0 auto;
    align-content: center;
    width: 33%;
    flex-wrap: wrap;
    padding: 0 50px;
}